@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Lobster&family=Montserrat&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --background: #F5F5F5;
    --on-background: #282C35;
    --secondary: #Ed6931;
    --on-secondary: #fff;
}

/* home layout styles */

.home-container {
    height: 90%;
    width: 92%;
    position: absolute;
    top: 8%;
    left: 7%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}

.home-text {
    width: 56%;
    height: 95%;
    color: var(--on-background);
}

.home-image {
    width: 35%;
    height: 95%;
    display: flex;
    justify-content: flex-start;
    transform: scaleX(-1);
}

.home-arrow {
    width: 8%;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-image img { 
    height: 100%;
    width: 100%;
}

.home-text h1 {

    color: var(--background);
    text-shadow:
        -1px -1px 0 var(--on-background),
        1px -1px 0 var(--on-background),
        -1px 1px 0 var(--on-background),
        1px 1px 0 var(--on-background);
    font-size: 140px;
    line-height: 140px;
    font-family: lobster;
    font-weight: 100;
    padding: 0px;

}

.home-text>div {
    font-size: 52px;
    font-weight: 700;
    padding-left: 10px;
}

.home-text span {
    color: var(--secondary);
}

.home-text p {
    padding-left: 10px;
    text-align: justify;
    color: var(--on-background);
}

h5 {
    font-size: x-large;
    font-weight: 600;
    margin-top: 15px;
    padding-left: 10px;
    color: var(--on-background);
}

/* logos styles */

.logos-container {
    width: 95%;
    height: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    overflow: hidden;
}


.logo {
    height: 100%;
    width: 6.5%;
    transition: transform .3s ease-in-out;
}

.logo:hover {
    transform: scale(115%);
    cursor: pointer;
}

/* download resume button styles */

#resume {
    width: 25%;
    border: 1px solid var(--secondary);
    border-radius: 15px;
    height: 10%;
    font-size: 14px;
    font-weight: 600;
    margin-left: 10px;
    margin-top: 10px;
    transition: all .2s ease;
}

#resume:hover {
    background-color: var(--secondary);
    color: var(--background);
}



@media screen and (max-width: 1250px) {
    #resume {
        width: 28%;
        font-size: 12px;
    }
  
  }

@media screen and (max-width: 1130px) {
 
    .home-text h1 {

        font-size: 120px;
        line-height: 120px;
       
    }
  
  }

  @media screen and (max-width: 1000px) {
    .home-text h1 {

        font-size: 100px;
        line-height: 100px;
       
    }

    #resume {
        width: 32%;
        font-size: 12px;
    }

    .home-text>div {
        font-size: 42px;
       
    }

    .home-text p{
        font-size: 14px;
    }

    h5{
        font-size: 18px;
    }

    .logos-container{
        height: 11%;
    }

    #resume{
        height: 9%;
        width: 34%;
    }
  }

@media screen and (max-width: 850px) {
    #resume{
        width: 45%;
    }

}


@media screen and (max-width: 750px) {
    #resume{
        width: 45%;
    }

    .home-container {
        height: 95%;
        width: 95%;
        left: 2%;    
    }

    .home-image {
        width: 0%;
        display: none;
    }

    .home-text {
        width: 85%;
        margin-right: 5px;
    }

    .home-arrow{
        width: 10%;
    }


}



