@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Lobster&family=Montserrat&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --background: #F5F5F5;
    --on-background: #282C35;
    --secondary: #Ed6931;
    --on-secondary: #fff;
}

body::-webkit-scrollbar {
    display: none;
}

/* individual project types layout styling */

.sub-projects-container {
    /* border: 1px solid gold; */
    height: 90%;
    width: 92%;
    position: absolute;
    top: 8%;
    left: 7%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

/* individual project styling */

.projects-each {
    height: 40%;
    width: 24%;
    cursor: pointer;
    border-radius: 10px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;


}

.overlay-projects-each {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(237, 105, 49, 1) -80%, rgba(237, 105, 49, 1) 12%, rgba(245, 245, 245, 1) 100%);
    display: none;
    text-align: center;
    padding-top: 27%;
    color: #fff;
    font-size: 18px;
    border-radius: inherit;
    font-weight: 900;

}

.projects-each:hover .overlay-projects-each {
    display: block;
    opacity: 1;
}

.overlay-projects-each button {
    font-weight: 400;
    font-size: 14px;
}

.overlay-projects-each button:hover {
    text-decoration: underline;
}

.projects-each-image {
    height: 100%;
    width: 100%;
    border-radius: inherit;
}


.projects-each-image img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-fit: cover;
}


/* modal styling */

.modal {
    width: 100%;
    height: 100vh;
    top: 50%;
    left: 50%;
    right: 0;
    bottom: 0;
    transform: translate(-50%, -50%);
    position: fixed;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(1px);


}

.overlay {
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;

}


.modal-content {
    height: 95% ;
    width: 98%;
    margin: 1% auto;
    background-color: transparent;
    color: white;
    font-weight: 600;
    position: relative;

}

.close-modal {
    display: block;
    float: right;
    height: 2.5rem;
    width: 2.7rem;
    font-size: 14px;
    border-radius: 9999px;
    background-color: #282C35;
    transition: all .2s ease-in;
    z-index: 200;
}

.close-modal:hover {
    filter: brightness(140%);
}

.modal-body {
    height: 95%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    justify-content: space-between;
    align-items: center;
    z-index: 2;

}

.modal-body-top {
    width: 100%;
    height: 8%;

}

.modal-body-bottom {
    height: 92%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;


}

.left-modal {
    width: 40%;
    height: 95%;
}

.left-modal h1 {
    font-size: 48px;
    margin-top: 0;
    padding: 0;
    line-height: 52px;
    font-weight: 800;
}

.left-modal p {
    font-weight: 500;
    font-size: 14px;
    text-align: justify;
    margin: 10px 0px;

}

.left-modal h3 {
    font-weight: 700;
    font-size: 16px;
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    height: 40px;
    font-size: 16px;
    margin-top: 30px;
}

.links>button:hover {
    color: var(--secondary);
}

.links-icon {
    margin-right: 10px;
}

.line {
    width: 3px;
    height: 80%;
    background-color: #F5F5F5;
}

.right-modal {
    width: 58%;
    height: 95%;
    padding-top: 3%;

}

body.active-modal {
    overflow-y: hidden;
}

/* slideshow in modal styling */

.mySwiper-modal {
    width: 100%;
    height: 100%;
    padding-top: 100px;
    display: flex;
    position: relative;

}

.swiper-slide-modal {
    background-position: center;
    background-size: cover;
    width: 310px;
    height: 230px;
}

.swiper-slide-modal img {
    display: block;
    width: 100%;
    height: 100%;
}

/* media queries */

@media screen and (max-width: 980px) {
    .projects-each {
        height: 30%;
        width: 30%;
    }

    .overlay-projects-each {
        padding-top: 21%;
        font-size: 16px;
        font-weight: 700;

    }


    .overlay-projects-each button {
        font-weight: 400;
        font-size: 12px;
    }

    .left-modal h1 {
        font-size: 42px;
        line-height: 46px;
        font-weight: 700;
    }

    .left-modal p {
        font-size: 13px;
        margin: 10px 3px;

    }
}

@media screen and (max-width: 750px) {
    .overlay-projects-each {
        padding-top: 24%;
        font-size: 16px;
        font-weight: 700;

    }

    .left-modal h1 {
        font-size: 38px;
        line-height: 42px;
        font-weight: 600;
    }

    .left-modal p {
        font-size: 11px;
        margin: 10px 5px;

    }
}

@media screen and (max-width: 600px) {
    .projects-each {
        height: 24%;
        width: 43%;

    }

    .overlay-projects-each {
        text-align: center;
        padding-top: 19%;
        font-size: 13px;
        font-weight: 600;

    }


    .overlay-projects-each button {
        font-weight: 300;
        font-size: 10px;
    }

    .left-modal h1 {
        font-size: 34px;
        line-height: 38px;
    }

    .left-modal p {
        font-size: 10px;
        margin: 10px 5px;

    }

    .modal-content {
        margin: 3% auto;
    
    }

}

@media screen and (max-width: 400px) {

    .modal-content {
        margin: 10% auto;
    
    }

    .left-modal {
        width: 95%;

    }

    .right-modal {
        width: 0%;
        display: none;
    }

    .line {
        display: none;
    }
}