@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Lobster&family=Montserrat&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  --background:#F5F5F5;
  --on-background: #282C35;
  --secondary:#Ed6931;
  --on-secondary:#fff;
  --toggle-bg:#f19f7c;
  --toggle-fg: #Ed6931;
  --on-input:#fff;
}

[data-theme="dark"] {
  --background: #282C35;
  --on-background: #F5F5F5;
  --secondary:#Ed6931;
  --on-secondary:#fff;
  --toggle-bg:#283452;
  --toggle-fg:#00a6ff;
  --on-input: #323742;
}


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Raleway, sans-serif;
 
}

/* Layout styling */

.layout-container{
  height: 100vh ;
  width: 100vw;
  position: relative;
  /* overflow: hidden; */
  background-color: var(--background);
  transition: background-color .2s ease-in-out;

}

/* top navigation styling */

.top-nav {
  height: 8%;
  display: flex;
  align-items: center;
  padding-left: 55%;
  
}

.top-nav ul {
  width: 60%;
  padding: 0px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 90%;

}

.top-nav li {
  cursor: pointer;
  
}

.top-nav li:hover {
  color: var(--secondary);
}


/* top and bottom bar styling */
.top-bar{
  position: absolute;
  top:22px;
  right: 0px;
  width: 16%;
  height: 3px;
  background-color: var(--on-background);
}

.bottom-bar{
  position: absolute;
  height: 26%;
  bottom: 0px;
  left:27px;
  width:3px;
  background-color: var(--on-background);

}

/* side navigation styling */

.side-nav{
  height: 50%;
  width: 5%;
  margin: 8% 0% 0% 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.side-nav ul{
  height: 90%;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  
}

.side-nav li{
  cursor: pointer;
  
}

.side-nav li:hover {
  color: var(--secondary);
}

.nav-icon{
  height: 30px;
  width: 30px;
  font-size: 20px;
  color: var(--on-background);
  
}

.nav-icon-active{
  color: var(--secondary);
}


/* arrow styles */

.arrow{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
 
}

.arrow > button{
  height: 10%;
  width: 60%;
  border-radius: 50%;
  border: 1px solid var(--on-background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform .3s ease;
}

.arrow > button:hover{
  transform: scale(105%);
}

.arrow-icon{
  color: var(--secondary);
  font-size: 23px;
  background-color: transparent;
} 


/* Slideshow styles */

.mySwiper-main {
  width: 100%;
  height: 100%;
  padding: 15px 40px;
  display: flex;
  position: relative;
  
}

.mySwiper-main:before,
.mySwiper-main:after {
  position: absolute;
  top: 0;
  width: 50px;
  height: 100%;
  content: "";
  z-index: 2;
}

.mySwiper-main:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), var(--background));
}

.mySwiper-main:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), var(--background));
}

.swiper-slide-main {
  text-align: center;
  font-size: 18px;
  background: var(--background);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 88%;
  border-radius: 15px;
  cursor: pointer;
  transition: transform .3s ease-in;
  position: relative;
  z-index: -1;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;

}

.slide-in{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #0f0f0f;
  transform-origin: right;
}

.slide-out{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #0f0f0f;
  transform-origin: left;
}

/* menu button styling */
.menu {
  position: absolute;
  top: 2%;
  right: 5%;
  /* border: 1px solid red; */
  color: var(--secondary);
}

/* media queries */

@media screen and (max-width: 1250px) {
  .top-nav {
    padding-left: 45%;
}
}


@media screen and (max-width: 900px) {
  .top-nav {
    padding-left: 35%;
  
  }


}

@media screen and (max-width: 750px) {
  .top-nav {
    padding-left: 0%;
    width: 0%;
  
  }

  .top-nav ul {
    width: 0%;
    display: none;
  
  }

  .top-bar{
    width: 0%;
  }

  .side-nav{
    height: 0%;
    width: 0%;
  }
  
  .side-nav ul{
    height: 0%;
    width: 0%;
    display: none;
  }

  .bottom-bar{
   display: none;
  
  }

  .arrow > button{
    width: 80%;
  }
}